.button{
    border-radius: 40px;
    background-color: $colore-primario;
    text-decoration: none;
    padding: 0;
    cursor: pointer;
    padding: 12px 48px;
    text-align: center;
    display: inline-block;
    color: $colore-secondario;
    &:hover {
        background-color: #3b1309; 
        }
    font: {
        style: normal;
        weight: 700;
    }
    
}
#toggle-btn {
    display: inline-block;
    width:76px;
    height: 38px;
    background-color: $colore-terziario;
    background-image: url('background@2x.png');
    background-size: 100%;
    border-radius: 24px;
    position: absolute;
    right: 0;
    transition: all ease-in-out .4s;
    cursor: pointer;
    margin-right: 20px;
}

#toggle-btn::before {
    position: absolute;
    width:26px;
    height: 26px;
    background-color: $colore-secondario;
    border-radius: 50%;
    left:6px;
    top:6px;
    content: '';
    transition: all ease-in-out .4s;
    z-index: 10;
}
#toggle-btn.toggle-btn--dark {
    background-color: $colore-primario;
}

#toggle-btn.toggle-btn--dark::before {
    left: 44px;
}

.dark-mode{
    h1,h2,h3,h4,h5,p{
        color:$colore-secondario;
    }
    .sos{
        background-color: $colore-primario;
    }
    .card-title{
        color:$colore-primario;
    }
    background-color: $colore-primario;
    .button{
        background-color: $colore-secondario;
        color: $colore-primario;
    }
}
