.navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 3000;
}
.navbar .nav-item a {
  color: #4d1900;
  font-size: 20px;
}
.navbar .navbar-nav .nav-link.active, .navbar .navbar-nav .show > .nav-link {
  font-size: 20px;
  color: #4d1900;
}

.icone {
  color: #4d1900;
  display: flex;
  align-items: center;
}
.icone i {
  margin-right: 10px;
  font-size: 25px;
}
@media screen and (min-width: 992px) {
  .icone {
    display: flex;
    justify-content: center;
  }
}

.button {
  border-radius: 40px;
  background-color: #4d1900;
  text-decoration: none;
  padding: 0;
  cursor: pointer;
  padding: 12px 48px;
  text-align: center;
  display: inline-block;
  color: rgb(250, 247, 235);
  font-style: normal;
  font-weight: 700;
}
.button:hover {
  background-color: #3b1309;
}

#toggle-btn {
  display: inline-block;
  width: 76px;
  height: 38px;
  background-color: #ffedae;
  background-image: url("background@2x.png");
  background-size: 100%;
  border-radius: 24px;
  position: absolute;
  right: 0;
  transition: all ease-in-out 0.4s;
  cursor: pointer;
  margin-right: 20px;
}

#toggle-btn::before {
  position: absolute;
  width: 26px;
  height: 26px;
  background-color: rgb(250, 247, 235);
  border-radius: 50%;
  left: 6px;
  top: 6px;
  content: "";
  transition: all ease-in-out 0.4s;
  z-index: 10;
}

#toggle-btn.toggle-btn--dark {
  background-color: #4d1900;
}

#toggle-btn.toggle-btn--dark::before {
  left: 44px;
}

.dark-mode {
  background-color: #4d1900;
}
.dark-mode h1, .dark-mode h2, .dark-mode h3, .dark-mode h4, .dark-mode h5, .dark-mode p {
  color: rgb(250, 247, 235);
}
.dark-mode .sos {
  background-color: #4d1900;
}
.dark-mode .card-title {
  color: #4d1900;
}
.dark-mode .button {
  background-color: rgb(250, 247, 235);
  color: #4d1900;
}

.hero-section {
  background-image: url(/imgs/hero-desktop_millie.png);
  background-size: cover;
  background-position: top center;
  width: 100%;
  height: 540px;
  padding-left: 20%;
  padding-right: 30px;
  padding-top: 350px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  position: relative;
  margin-bottom: -40px;
}

.pre-partnership {
  margin-top: 40px;
  color: #4d1900;
  text-align: center;
}
.pre-partnership h2 {
  font-size: 48px;
  font-weight: 800;
}
.pre-partnership p {
  font-size: 20px;
}

.partnership {
  margin-top: 50px;
}
.partnership .card {
  border: none;
  border-radius: 0px;
}
.partnership .card img {
  border-radius: 0px;
}
.partnership .card-body {
  text-align: center;
  color: #4d1900;
  height: 100px;
}
.partnership .card-body a {
  color: #007ac2;
  text-decoration: none;
  font-weight: 700;
  font-size: 24px;
}
.partnership .card-body h5 {
  margin-bottom: 0;
}

.carousel-inner h5 {
  color: #4d1900;
  font-size: 30px;
  font-weight: 800;
}
.carousel-inner p {
  color: #4d1900;
}
.carousel-inner .carosello-1 {
  background-image: url(/imgs/background.png.webp);
  background-size: cover;
}
.carousel-inner .carosello-2 {
  background-image: url(/imgs/IMG-box-2.png.webp);
  background-size: cover;
}
.carousel-inner .carosello-2 img {
  padding-bottom: 113px;
}
.carousel-inner .carosello-3 {
  background-image: url(/imgs/scatta-la-felicita-2022-mobile1.png.webp);
  background-size: cover;
}
.carousel-inner .carosello-3 img {
  padding-bottom: 248px;
}

footer {
  margin-top: 50px;
  background-color: #4d1900;
  color: #ffedae;
}
footer .footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
}
footer .footer .first-ul {
  margin-top: 20px;
}
footer .footer .bo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .footer ul {
  list-style: none;
}
footer .footer ul li {
  display: inline-block;
  margin-right: 10px;
}
footer .footer ul li a {
  color: #ffedae;
}
footer .footer ul p {
  display: inline-block;
}

body {
  background-color: rgb(250, 247, 235);
  font-family: "Titillium Web", sans-serif;
}/*# sourceMappingURL=partials.css.map */